<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="index">
            <h2><span jhiTranslate="easypayApp.index.detail.title">Index</span> {{ index.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="easypayApp.index.value">Value</span></dt>
                <dd>
                    <span>{{ index.value }}</span>
                </dd>
                <dt><span jhiTranslate="easypayApp.index.month">Month</span></dt>
                <dd>
                    <span>{{ index.month }}</span>
                </dd>
                <dt><span jhiTranslate="easypayApp.index.year">Year</span></dt>
                <dd>
                    <span>{{ index.year }}</span>
                </dd>
                <dt><span jhiTranslate="easypayApp.index.location">Location</span></dt>
                <dd>
                    <div *ngIf="index.locationId">
                        <a [routerLink]="['/location', index.locationId, 'view']">{{ index.locationId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/index', index.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
