<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shop">
            <h2><span jhiTranslate="easypayApp.shop.detail.title">Shop</span> {{ shop.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="easypayApp.shop.streetAddress">Street Address</span></dt>
                <dd>
                    <span>{{ shop.streetAddress }}</span>
                </dd>
                <dt><span jhiTranslate="easypayApp.shop.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ shop.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="easypayApp.shop.weekHourStart">Week Hour Start</span></dt>
                <dd>
                    <span>{{ shop.weekHourStart }}</span>
                </dd>
                <dt><span jhiTranslate="easypayApp.shop.weekHourEnd">Week Hour End</span></dt>
                <dd>
                    <span>{{ shop.weekHourEnd }}</span>
                </dd>
                <dt><span jhiTranslate="easypayApp.shop.weekendHourStart">Weekend Hour Start</span></dt>
                <dd>
                    <span>{{ shop.weekendHourStart }}</span>
                </dd>
                <dt><span jhiTranslate="easypayApp.shop.weekendHourEnd">Weekend Hour End</span></dt>
                <dd>
                    <span>{{ shop.weekendHourEnd }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shop', shop.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
