<div>
    <h2 id="page-heading">
        <span jhiTranslate="easypayApp.bill.home.title">Bills</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bill" [routerLink]="['/bill/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="easypayApp.bill.home.createLabel">
            Create a new Bill
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bills?.length === 0">
        <span jhiTranslate="easypayApp.bill.home.notFound">No bills found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bills && bills.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstDay"><span jhiTranslate="easypayApp.bill.firstDay">First Day</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastDay"><span jhiTranslate="easypayApp.bill.lastDay">Last Day</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="value"><span jhiTranslate="easypayApp.bill.value">Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paid"><span jhiTranslate="easypayApp.bill.paid">Paid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locationId"><span jhiTranslate="easypayApp.bill.location">Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bill of bills ;trackBy: trackId">
                    <td><a [routerLink]="['/bill', bill.id, 'view']">{{ bill.id }}</a></td>
                    <td>{{ bill.firstDay | date:'medium' }}</td>
                    <td>{{ bill.lastDay | date:'medium' }}</td>
                    <td>{{ bill.value }}</td>
                    <td>{{ bill.paid }}</td>
                    <td>
                        <div *ngIf="bill.locationId">
                            <a [routerLink]="['/location', bill.locationId , 'view']" >{{ bill.locationId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bill', bill.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bill', bill.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bill)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="bills && bills.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
